{% extends 'accounts/header.html' %}

{% block title %} Shopping cart {% endblock title %}

{% block content %}

<h2>Products in your basket</h2>

<div>

{% for item in show_cart %}

    <li>PRODUCT: {{item}}</li>
     <li>QUANTITY: {{item.qty}}</li>

    <a href="{% url 'main_app:cart_remove' item.product_item.id %}"><button type="submit">Remove item</button></a>
    <a href="{% url 'main_app:update_cart' item.product_item.id%}"><button>Add +1</button></a>

{% endfor %}

</div>

<form method="POST">
  {% csrf_token %}
    <input type="submit" name="buy" value="BUY NOW" style="margin-left: 3cm">
</form>

<a href="{% url 'main_app:auctions'%}"><button>Go back to shopping</button></a>

<!--INFO WHEN PRODUCT IS OUT OF STOCK-->
{% for info in messages %}
{{info}}
{% endfor %}


<!--WHEN BASKET IS EMPTY-->
{% if total_quantity == 0 %}
YOUR BASKET IS EMPTY
{% endif %}


<div style="text-align: center; position: absolute; margin-top: 7cm">
<h2>Total order</h2>
{{order_total}} USD
</div>


{% endblock %}
