{% extends 'accounts/header.html' %}

{% block title %} Main {% endblock title %}

{% block content %}

<body>

<div style="margin-bottom: 600px">
{% if user.is_authenticated %}
<h2>Cześć {{user.username.capitalize}}! :)</h2>
{% endif %}
</div>

<div class="home-structor">
    <div class="home-container">
        <h2 class="home-title"> DRUGIE ŻYCIE GABARYTÓW </h2>
    </div>
    <div class="home-holder">
        <a href="{% url 'accounts:login' %}">
            <button class="login-btn" type="submit">Log in</button></a>
        <a href="{% url 'accounts:register' %}">
            <button class="signup-btn" type="submit">Sign up</button></a>
        <a href="{% url 'main_app:auctions' %}">
            <button class="auction-btn" type="submit">Auctions</button></a>
    </div>
</div>
</body>

{% endblock %}
