<!DOCTYPE html>
<html lang="en">
{% extends 'accounts/header.html' %}

{% block title %} Registration {% endblock title %}

{% block content %}
<body>
<div class="home-welcome">
    <div class="home-title">
        DRUGIE ŻYCIE GABARYTÓW
    </div>
    <div class="home-btn">
        <a class="login" href="{% url 'accounts:login' %}">
            <button type="submit">Log in</button></a>
        <a class="signup" href="{% url 'accounts:register' %}">
            <button type="submit">Sign up</button></a>
    </div>
</div>
</body>
{% endblock %}
</html>
