{% extends 'accounts/header.html' %}

{% block title %} Lista produktów {% endblock title %}

{% block content %}

<h2>Lista produktów </h2>

<div style="margin-top: 2cm">
<ol>
{% for product in products %}
{{product.name}}<a href="{% url 'main_app:product_detail_view' product.id %}"><button>Details</button></a>
{{product.quantity}}

<li>
  {{product.price}} PLN
</li>
{% endfor %}
</ol>
</div>


<a href="{% url 'main_app:add' %}"><button type="submit">Add product </button></a>
<a href="{% url 'main_app:home' %}"><button>Back to main</button></a>
<a href="{% url 'main_app:user_products' %}"><button>Your products</button></a>

<a href="{% url 'main_app:search' %}"><button>Szukaj</button></a>


{% endblock %}