<!DOCTYPE html>
<html lang="en">

{% extends 'accounts/header.html' %}

{% block title %} Shopping cart {% endblock title %}

{% block content %}

<h2 style="text-align: center">Dodane do koszyka</h2>

<div>
{% for item in show_cart %}

   <li> {{item}}</li>

{% endfor %}
</div>

<a href="{% url 'main_app:cart_view' %}"><button type="submit" > Przejdź do realizacji transakcji </button></a>
<a href="{% url 'main_app:auctions' %}"><button type="submit" > Wróć do listy produktów </button></a>

{% endblock %}
</html>
