{% extends 'accounts/header.html' %}

{% block title %} Registration {% endblock title %}

{% block content %}

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./accounts/static/css/main.css">
</head>

<body id="title">
  <h3>Register</h3>
</body>

  <form method="POST">
  {% csrf_token %}

  {{register_form}}

  <input type="submit" name="Create User">

    {{register_form.errors}}

    <p class="text-center">Already have an account? <a href="{% url 'accounts:login' %}">Login</a></p>

  </form>

{% endblock %}
</html>