<!DOCTYPE html>
<html lang="en">
{% extends 'accounts/header.html' %}

{% block title %} Main Page {% endblock title %}

{% block content %}
<body>
<div class="logged-structor">
    <div class="logged">
        <!--{% if user.is_authenticated %}-->
            <h1 class="logged-title"> Hello {{user.username.capitalize}}! </h1>
    </div>
    <div class="logout">
        <a href="{% url 'main_app:home' %}">
            <button class="logout-btn" type="submit">Log out</button></a>
    </div>

<!--{% else %}-->
<!--<a href="{% url 'main_app:home' %}">Login</a>-->


<!--{% endif %}-->

{% endblock %}
</div>
</body>
</html>
